# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/



# Ignore IDE files
.vscode/
.idea/

# Ignore data and model files
*.h5
*.pkl
*.csv
*.log

runs/
debug_plots/
